@using MOVIFY.Model
@model IEnumerable<Director>

@{
    Layout = "~/Views/Shared/_MendyLayout.cshtml";
    ViewData["Title"] = "Directors";
}

<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-md-6 col-8 align-self-center">
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0 bg-transparent">
                        <li class="breadcrumb-item">
                            <a asp-controller="Dashboard" asp-action="Index" class="link">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Directors</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-md-6 col-4 align-self-center text-right">
            <a asp-action="Create" class="btn btn-purple">
                <i class="fa fa-plus mr-2"></i> Add Director
            </a>
        </div>
    </div>
</div>

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover file-export">
                            <thead class="bg-light">
                                <tr>
                                    <th>Director ID</th>
                                    <th>Full Name</th>
                                    <th class="text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.DirectorId</td>
                                        <td>@item.DirectorFullName</td>
                                        <td class="text-right">
                                            <a asp-action="Edit" asp-route-id="@item.DirectorId" class="btn btn-outline-info waves-effect waves-light">
                                                <i class="fa fa-edit"></i> Edit
                                            </a>
                                            <a asp-action="Delete" asp-route-id="@item.DirectorId" class="btn btn-outline-danger waves-effect waves-light">
                                                <i class="fa fa-trash"></i> Delete
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>